<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720157697533-52apkmb1ig2sue9lvo7h7k0lv45bfl2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720157697533-52apkmb1ig2sue9lvo7h7k0lv45bfl2c</string>
	<key>API_KEY</key>
	<string>AIzaSyBBqitMiwf1ACTNuvAPZerL1L1s9MOlOYo</string>
	<key>GCM_SENDER_ID</key>
	<string>720157697533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.belikov.today</string>
	<key>PROJECT_ID</key>
	<string>todayapp-3ac47</string>
	<key>STORAGE_BUCKET</key>
	<string>todayapp-3ac47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720157697533:ios:90634eebed2a51eeac2594</string>
</dict>
</plist>