<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737825645022-hh9kt1f4972f63mqueni5lhnau06poe9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737825645022-hh9kt1f4972f63mqueni5lhnau06poe9</string>
	<key>API_KEY</key>
	<string>AIzaSyB1pLSx7lDXG_e9LM5Dr4orZT03RfF0Ask</string>
	<key>GCM_SENDER_ID</key>
	<string>737825645022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.belikov.today</string>
	<key>PROJECT_ID</key>
	<string>today-62290</string>
	<key>STORAGE_BUCKET</key>
	<string>today-62290.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737825645022:ios:23c3334f408b6afad1fd4f</string>
</dict>
</plist>